.modal-body {
    background: tan;
}

.dateRow {
    width: 10%;
}

tbody{
    width: 90%;
}

#checkbox{
    height: 15px;
}

ul{
    list-type: none;
}

.entryTable{
    width: 1000px;
}

@media (max-width: 700px){

    .entryTable{
        width: 100%;
    }
}
