

.storyform{
   
    width: 90%;
    background-color: tan;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0%;
}

.storyPopup{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-10px, -10px);
}

.storyText{
    overflow-y: scroll;
    font-size: 10px;
   
}

.viewStoryButton{
    color: black;
    background-color: transparent;
    width: 100%;
    overflow-y: scroll;
    height: 200px;
}

.storyField  {
    width: 90%;
    height: 90%;
    /* margin-left: 15%; */
}

.popup{
    display: flex;
    align-items: center;
}

.storyContainer{
    background-color: #E3DCC2;
}

.storytable{
    width: 100%;
    font-size: 20%;
    background-color: #E3DCC2;
}

.storyBody{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.storyArea{
    padding-bottom: -25px;
    display: flex;
   flex-direction: column;
   align-items: center;
   
}

.loginBanner{
    margin-top: 5%;
   text-align: center;
   background-color: #E3DCC2;
   height: 200px;
   color: #7C0A02;
}

#storyText{
    width: 100%;
}

.storyIntroTitle{
  display: flex;
  justify-content: center;
}

.storyIntro .florenceChadwick{
    font-size: 120%;
}

.storyIntro q{
  display: flex;
  justify-content: center;
    font-size: large;
    
}

.storyIntro h3{
   margin: 3% 10% 3% 10%;
}
.storyIntro h2{
    background-color: white;
    text-align: center;
    color: #7C0A02;
    font: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
 }

 .storyIntro p{
    background-color: #7C0A02;
    color: #E3DCC2;
    padding: 2% 10% 2% 10%;
    text-align: justify;
 }

 .storyIntro img{
    width: 40%;
    margin: 0 30% 0 30%;
  
 }

 .infopop{
     visibility: hidden;
     position: absolute;
     background-color: #7C0A02;
     color: #E3DCC2;
     border: solid #E3DCC2;
     border-radius: 30px;
     width: 180px;

 }

 .infopop p{
     margin: 3% 2% 3% 2%;
 }

 .introbutton{
     position: relative;
    
 }

 .introbutton:hover + .infopop{
    visibility: visible;
 }


@media only screen (max-width: 1200px){

   

}


@media only screen (max-width: 700px){
    

.storytable{
    width: 100%;
    font-size: 20%;
}

Table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    /* margin-right: -20%; */
}

.storyData{
    /* width: 100%; */
    font-size: 20%;
    
}

.storyText{
    display: flex;
    overflow-y: scroll;
    font-size: 10px;
   
}
.deleteButton{
    width: 40%;
    font-size: 50%;
   
}

.storyDate{
    font-size: 10%;
    width: 10%;
}

.viewStoryText{
    font-size: 60%;
}

.viewStoryButton{
    display: flex;
    overflow-y: scroll;
    color: black;
    background-color: transparent;
   
    width: 100%;
    font-size: 12px;
}

}

@media only screen (max-width: 500px){


    .storyIntro{
        width: 400px%
    }


    .storyIntroTitle{
        display: flex;
        justify-content: center;
      }
      
      .storyIntro .florenceChadwick{
          font-size: 80%;
      }
      
      .storyIntro q{
        display: flex;
        justify-content: center;
          font-size: medium;
          
      }
      
      .storyIntro h3{
         margin: 0 0 0 0;
      }
      .storyStatement{
          background-color: white;
          text-align: center;
          color: #7C0A02;
          font: "Comic Sans MS", cursive, sans-serif;
          font-weight: 900;
         
       }
      
       .storyIntro p{
          background-color: #7C0A02;
          color: #E3DCC2;
          padding: 0 0 0 0;
          text-align: justify;
       }
      
       .storyIntro img{
          width: 40%;
          margin: 0 35% 0 35%;
        display: none;
       
       }

.storyDescription{
    font-size: 60%;
}

.storyPopup{
    margin-left: -15%;
    transform: translate(-100px, -0px),
}


}
