

.storyform{
    height: 90%;
    width: 90%;
    background-color: tan;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:0%;
}

.viewStoryButton{
    color: transparent;
}

.storyField  {
    width: 90%;
    height: 90%;
    /* margin-left: 15%; */
}

.popup{
    display: flex;
    align-items: center;
}

.storyBody{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.storyArea{
    padding-bottom: -25px;
    display: flex;
   flex-direction: column;
   align-items: center;
   height: 90%;
}

.loginBanner{
    margin-top: 5%;
    margin-left: 25%;
}

@media (max-width: 700px){

.storytable{
    width: 100%;
    font-size: 20%;
}

Table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-right: -20%;
}

.storyData{
    width: 100%;
    font-size: 20%;
    height: 20%;
}

.storyText{
    display: flex;
    overflow-y: scroll;
    height: 300px;
    font-size: 10px;
   
}
.deleteButton{
    width: 40%;
    font-size: 50%;
   
}

.storyDate{
    font-size: 20%;
}

.viewStoryText{
    font-size: 60%;
}

.viewStoryButton{
    display: flex;
    overflow-y: scroll;
    color: black;
    height: 300px;
    width: 120%;
    font-size: 12px;
}

}