.Menu{
    display: flex;
    width: 100%;
   justify-content: space-between;
   background-color: #ffe4b5;
   height: 90px; 
   padding-top: 1%;
}

h2{
    padding-right: 10%;
    padding-left:3%;
    background-color: #ffe4b5;
    height: 50px;

}

.menuItems{
    
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    background-color: moccasin;
    margin-left: 20px;
}

.Avatar{
    width: 30px;
    background-color: transparent;
}

.loggedInMenu{
    display: flex;
}

.container{
    position: relative;
    width: 150%;
    padding-bottom: 50px;

}


.bannerText{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 1000px;
    transform: translate(
        -50%, -50%);
    color: black;
    font-size: 600%;
}
.bannerImage{
    width:120%;
    margin-left: -10%;
    filter: opacity(60%);
   
}

.description{
    height: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 175.7%;
    Margin-left: -40%;
    padding-left: 40%;
    padding-right: 40%;
    font-size: 250%;
}

.sectionBreak{
    width: 100px;
}

.storyPromo{
    width: 100%;
    height: 500px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.storyPromoText{
    padding-top: 3%;
    width: 60%;
    
    font-size: 100%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
}
.mapImage{
    width: 500px;
    height: 400px;
    
}

.roundTablePromo{
    width: 100%;
    height: 20%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background-color: #ffe4b5;
    margin-bottom: 5%;
}

.roundTableImage{
    width: 500px;
    height: 500px;
    padding-top: 3%;
}

.roundTablePromoText{
    padding-top: 6%;
    width: 60%;
    font-size: 100%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;

}

.menuLink{
    color: white;

}

@media  (min-width: 1350px) {
    .roundTablePromoText{
        font-size: 150%;
    }
    .storyPromoText{
        font-size: 150%;
    }
 
}

@media (max-width:1350px){
    .description{
        font-size: 150%;
    }

    .menuItems{
        display: flex;
    }

}

@media (max-width: 700px){


    .container {
        display: inline-block;
        cursor: pointer;
        
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    
      }

    .Menu{
    width: 100%;

    }

   h2{

   }

    .menuItems{
    width: 40%;
    list-style-type: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -20%;
    margin-top: -15%;
    position: absolute;
    z-index: 1;
    }
    .website-title{
       
        font-size: 100%;
        width: 40%;
    }
    .description{
        font-size: 100%;
        margin-left: -30%;
        margin-right: 10%;
        padding-right: 5%;
      
        width: 130%;
        
    }

    .banner {
        width: 100%;
    }
    .bannerImage{
        margin-left: 0%;
        width: 100%;
    }
    .bannerText{
        font-size: 180%;
        margin-left: -25%;
        margin-top: -25%;
        width: 100%;
    }

    
    .roundTableImage{
        width: 40%;
        height: 90%;
    }
    .roundTablePromoText{
        font-size: 50%;
        margin-left: -20%;
        margin-right: -10%;
       padding-right: -10%;
    }
   
    .mapImage{
        width: 50%;
        height: 50%;
        margin-top: 5%;
    }
    .storyPromo{
        height: 60%;
        width: 100%;
        margin-top: -10%;
    }
    .storyPromoText{
        font-size: 50%;
    }
    .roundTablePromo{
        width: 100%;
    }
    .bannerText{
        transform: translate(
        -0%, -0%);
    }
}