.loginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    flex-direction: column;
    width: 20%;
    height: 500px;
   
   
}

#formButton{
    width: 100%;
}

.loginBox h1{
    margin-left: 30%;
}

input{
    width: 60%;
    background-color: #E3DCC2;
}

label{
    width: 40%;
}

.loginForm{
    width: 100%;
    margin-left: 0%;
    padding: 0%;
}

.formInput{
    display: flex;
    width: 100%;
  
}

#formButton{
    width: 100%;
    background-color: #51513D;
}

@media (max-width: 700px){

.loginBox{
    width: 50%;
    margin-left: 20%;
}



}