.loginBox{
    display: flex;
    margin-left: 40%;
    flex-direction: column;
    width: 400px;
    height: 500px;
    justify-content:flex-start;
   
}


.loginForm{
    width: 300px;
    margin-left: 13%;
}
