.Menu{
    display: flex;
    width: 100%;
   justify-content: space-between;
   background-color: moccasin;
   height: 70px; 
}

h2{
    padding-right: 10%;
    padding-left:3%;
    background-color: moccasin;
    height: 50px;

}

.menuItems{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    background-color: moccasin;
    margin-left: 20px;
}

.Avatar{
    width: 30px;
    background-color: transparent;
}